<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    {{>nav}}
    <h1 id='title'>{{title}}</h1>
    <h3>Created by {{author}}</h3>

    <form action="">
        {{{countryList}}}
        <select id="citySelect">
            
        </select>

        {{!-- <input placeholder="Please Select a Country" id="country" name="Country" /> --}}
        {{!-- <input placeholder="Please Select a City" id="city" name="City" /> --}}
    
        <Button type='submit' id="goBtn">Find</Button>
    </form>
        {{!-- <h2>{{city}}, {{country}}</h2>
        <h3>The weather in {{city}} is currently: {{weather}}.</h3> --}}
        
    <div id="data">
       <h1 id="locationOutput"></h1>
       <h2 id="weatherOutput"></h2>
       <h2 id="tempOutput"></h2>
    </div>

    <script src="/js/main.js"> </script>
 
</body> 
</html>